.traler-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .trailer-video {
    width: 100%;
    height: 305px;
  }
}
@media screen and (min-width: 768px) {
  .trailer-video {
    width: 660px;
    height: 370px;
  }
}
